git+https://github.com/yt-dlp/yt-dlp@master
pyrogram==1.4.12
py-tgcalls==0.8.1
tgcrypto
python-dotenv
git+https://github.com/alexmercerind/youtube-search-python@main
requests
aiohttp
aiofiles
asyncio
git+https://github.com/joetats/youtube_search@master
search_engine_parser
ffmpeg-python
ffmpeg
Pillow
ujson
